
/*Esto es para las skills */


.ResumMi{
    text-align: center;
    font-size: 2vw;
    font-weight: 500;
}

.imgg{
    border-radius: 15%;
    height: 20vh;
    display: block;
    width: 17vh;
    margin: auto;
}


/*Esto es para darle un centro a todo*/
div#global{
    margin: 0 auto;
    margin-left: 10%;
    margin-right: 10%;
}

.CenterH{
    text-align: center;
}




#link{
    background-color: rgba(68, 42, 58, 0.308);
    margin-right: 80%;
}


.Poryectos{
    text-align: center;
    color: black;
}

.tableEd{

    background-color: rgba(128, 128, 128, 0.582);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

form{    
    height: 250px; 
    border: 3px solid #555;
}

hr{
    max-width: 50%;
}

#MyGym{
    margin-left: auto;
    margin-right: auto;
}



