
/*Esto es para las skills */


.ResumMi{
    text-align: center;
    font-size: 3vw;
    font-weight: 600;
    padding-top: 2vh;
}

.imgg{
    border-radius: 20%;
    height: 22vh;
    display: block;
    width: 19vh;
    margin: auto;
}



#logos ul{
    list-style: none;
    margin: 0;
    padding: 3vw;
    
}

#logos ul li{
    display: inline-block;
}

#skillslogos{
    background-color: rgba(66, 62, 62, 0.459);
}

img.sklogo{
    height: 20vh;
    padding: 1vh;
}

/*Esto es para darle un centro a todo*/
.CenterH{
    text-align: center;
}

/*centrar el video*/
.video{
    text-align:center;
    margin-left: 2vh;
}

/* darle estilos a los proyectos*/
.Poryectos{
    text-align: center;
    margin: 0;
}

.Poryectos p{
    color: white;
    padding: 1vh;
}

p a{
    background-color: rgba(3, 94, 3, 0.801);
    color: black;
    text-decoration: none;
    border: 1px solid #d0d0d0;;
}


/*Darle los backgrou a los proyectos */
#mygymbackgrou{
    background-color: rgba(0, 0, 255, 0.562);
}

#heeroDemo{
    background-color: rgba(0, 0, 0, 0.466);
}

#link{
    background-color: rgba(68, 42, 58, 0.308);
    margin-right: 80%;
}


.estilosH{

    text-align: center;
    color: black;
}

.tableEd{

    background-color: rgba(128, 128, 128, 0.582);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

hr{
    max-width: 50%;
}





