/*Esto es para el top de la pagina */
body{
    font-family: sans-serif;
    margin: 0;
}

header#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    min-height: 70px;
}

a#imgtop img{
    height: 16vh;
    width: 16vh;
    
}

#menu{
    float: right;}

#menu ul{
    list-style: none;
    margin: 0;
    padding: 3vw;
}

#menu ul li{
    display: inline-block;
}

#menu ul li a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 2vw;
    font-size: 2vh;
    
}

#menu ul li a:hover{
    color: grey;
}

#menu ul li a#cont{
    background-color: rgba(3, 94, 3, 0.801);
    color: white;
    border-radius: 20%;
}

#menu ul li a#cont:hover{
    color: black;
    transition: all 0.3s;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0;
    }
}