/*Esto es para el top de la pagina */
body{
    font-family: sans-serif;
    margin: 0;
    background-color: #212121;
}
html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin: 0;
    margin-bottom: 40px;
  }

header#navbar{
    display: flex;
    justify-content: center;
    padding: 10px;
    min-height: 70px; 
    
}

header h1{
  color: white;
}

a#imgtop img{
    height: 11vh;
    width: 22vh;
    
}


@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0;
    }
}


/* esto es para el estilo de los botones */

#menu{
    display: flex;
    justify-content: center;
    padding: 2%;
}


#menu ul li{
    list-style:none;
    padding: 5vh;
}

button {
    padding: 0.1em 0.25em;
    width: 23.5em;
    height: 4.2em;
    background-color: #212121;
    border: 0.08em solid #fff;
    border-radius: 0.3em;
    font-size: 12px;
  }
  
  button span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.4em;
    width: 15em;
    height: 2.5em;
    background-color: #212121;
    border-radius: 0.2em;
    font-size: 1.5em;
    color: #fff;
    border: 0.08em solid #fff;
    box-shadow: 0 0.4em 0.1em 0.019em #fff;
  }
  
  button span:hover {
    transition: all 0.5s;
    transform: translate(0, 0.4em);
    box-shadow: 0 0 0 0 #fff;
  }
  
  button span:not(hover) {
    transition: all 1s;
  }
  

  a{
    text-decoration: none;
    color: white;
  }

