.estilosH{
    text-align: center;
    font-size: 9vh;
    text-decoration: solid;
    color: white;
}

#ccDiv{
    display: flex;
    justify-content: center;
}

.card{
  margin: 2%;
  background-color: rgba(3, 59, 55, 0.664) !important;
  border: 0.08em solid #fff !important;
}

.card img{
  border-radius: 5%;
}



/* para los botones con estilo pero con un tamaño nuevo por el problema del em */
#menu{
  display: flex;
  justify-content: center;
  padding: 2%;
}


#menu ul li{
  list-style:none;
  padding: 5vh;
}

button {
  padding: 0.1em 0.25em;
  width: 15em;
  background-color: #212121;
  border: 0.08em solid #fff;
  border-radius: 0.3em;
  font-size: 12px;
}

button span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.4em;
  width: 9.5em;
  height: 2.2em;
  background-color: #212121;
  border-radius: 0.2em;
  font-size: 1.5em;
  color: #fff;
  border: 0.08em solid #fff;
  box-shadow: 0 0.4em 0.1em 0.019em #fff;
}

button span:hover {
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #fff;
}

button span:not(hover) {
  transition: all 1s;
}


a{
  text-decoration: none !important;
  color: white !important;
}

h2{
  margin: 2% !important;
}

@media (max-width: 767px){
  .container, .container-sm {
    max-width: 40px !important;
  }
  #deldsplay{
    display: block;
  }
}

.prueba{
    --bs-gutter-x: 5.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}